##################
## Code::Blocks ##
##################

# Project configurations.
*.depend
*.layout
*.cbp

# Object files
*.o

# Doxygen
doxygen/doxyfile

# Autoversion
changes.tmp

# Outfiles etc.
test