#### Ignore local build tools ####

# All batch files are specific to my local directory structure.
*.bat

# Doxygen configuration 
doxygen
doxygen/*

# CMake build is generated for my computer
CMakeBuild
CMakeBuild/*